# Git
.git
.gitignore

# Docker
docker-compose.override.yml

# IDEs
.idea
.vscode
*.swp

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
*venv*/
backend/infra/venv/
backend/infra/.venv/
middleware/venv/
middleware/.venv/
middleware/venv2/
**/venv*/
**/__pycache__/
**/.pytest_cache/
**/.angular/

# Node
node_modules/
frontend/node_modules/
frontend/dist/
frontend/.angular/
npm-debug.log
yarn-error.log

# Mac
.DS_Store
