apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "observer-eye.fullname" . }}-config
  namespace: {{ .Values.namespace }}
data:
  DB_ENGINE: "django.db.backends.postgresql"
  DB_NAME: {{ .Values.config.dbName | quote }}
  DB_HOST: "db-service"
  DB_PORT: "5432"
  DB_USER: {{ .Values.config.dbUser | quote }}
  REDIS_URL: "redis-service:6379/0"
  CELERY_BROKER: "redis-service:6379/1"
  CELERY_BACKEND: "redis-service:6379/2"
  KAFKA_BROKERS: "kafka-service:9092"
  BACKEND_URL: "http://backend-service:8000"
  DEBUG: {{ .Values.config.debug | quote }}
  DJANGO_DEBUG: {{ .Values.config.djangoDebug | quote }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "observer-eye.fullname" . }}-secrets
  namespace: {{ .Values.namespace }}
type: Opaque
stringData:
  DB_PASSWORD: "observer_secure_password"
  DJANGO_SECRET_KEY: "change-me-in-production-helm-secret"
